@charset "utf-8";
/* CSS Document */


@font-face {
    font-family:"opensansr";
    src:url(images/OPENSANS-REGULAR.TTF) format("truetype");
}

h4{font-size:20px;}
.wrapper{background-image:none !important;}
.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -5px;}
body{ font-family:"opensansr"; font-size:13px; color:#666666; margin:0px; padding:0px;}
.main{ background:url(images/newbg.png) repeat-x center top; width:100%; min-height:458px; margin:0px; padding:0px;}
.header{ max-width:1100px; min-height:416px; margin:auto; background:url(images/landing-banner.png) no-repeat;}
.htop{ float:left; margin-top:150px; margin-left:50px;}
#right{float:right;width:320px; border:0px solid #ff0000;}
.hright{ float:left; width:320px; border:0px solid #000;
 margin:30px 0px 0px 0px; 
/* background:url(images/submit-form2.png); background-repeat:no-repeat;*/
margin-right:0px; 
margin-top:-265px;
/*box-shadow: 10px 4px 11px #888888;*/
 }
 .alignleft{margin-right:0px !important;}
.content-left{width:730px; border:0px solid #000; float:left; }
.contents{ width:1100px; margin:auto; border:0px solid #000;}
.ctop{border:0px solid #ff0000; width:317px; position:relative; margin-top:-428px;text-align: center; float:left;}
.ctop h2{font-size:18px; font-weight:bold; line-height:22px;color:#1c1812;}
.ctop .textwidget a{color:#1c1812 !important; font-size:26px; font-weight:bold;}
.content1{ width:1100px; margin:auto; min-height:550px}
.testimonials{ width:317px; float:left; border:3px solid #FFffff; margin:-100px 0px 0px 0px; min-height:300px; 
background:url(images/testimonial.jpg) no-repeat center top; color:#000;}
.testimonials h3{font-size: 47px; line-height: 47px; font-weight: bold; color:#003750; font-family:"Myriad Pro";}
.com{ color:#f9ffff; font-weight:bold; font-size:18px; font-style:italic; font-family:"Myriad Pro";}
.testimonials h6{ color:#4c3833; font-size:18px; font-family:"Myriad Pro";}
.sform{margin-top:395px; margin-left:18px; color:#fff; font-size:15px;}
.cer{ color:#ff9d00; font-size:52px; line-height:47px; font-family:"opensansr";}

.cer1{ color:#ffb900; font-size:52px;  line-height:47px; font-family:"opensansr"; }
.cer2{ color:#fff; font-size:27px; line-height:30px; font-family:"opensansr";}
.textwidget p{ font-size:15px;}
.cleft{ float:left; width:280px; margin-top:-288px; margin-left:24px;}
.cleft .textwidget p{ color:#fff; font-family:"opensansr";}
.cleft1{ float:left; width:317px; margin-top:-20px;}
.cleft1 .textwidget p{ color:#fff; font-family:"opensansr";}
.logo{ float:left; width:340px; margin-top:5px; margin-left:0px;}
.services{ float:left; width:350px; margin-top:30px;}
.aligncenter{clear:none;}
.services ul{ margin:0px; padding:0px; margin-left:8px;}
.services ul li{list-style-type:circle;}
.services ul li a{ list-style-type:circle; color:#333333; font-size:15px; line-height:20px; text-decoration:none;}
.text{ float:right; text-align:justify; width:280px; margin-top:30px;}
.text p{ text-align:justify; color:#333; font-size:15px; line-height:20px;}
.copyright{ color:#b5975b; font-size:14px; width:500px; margin:auto; text-align:right; margin-top:0px; float:left; padding-right:5px; padding-top:50px;
margin-left:240px;}
.input{ width:95%; border:1px solid #CCCCCC; border-radius:3px; }
.submit{ margin-top:7px;}
input[type="text"], input[type="password"], input[type="email"], textarea { width:82%;}
.mar{ margin-top:7px;}
.wpcf7 p { font-size:12px !important; font-weight:bold; line-height:18px; text-align:center; margin-right:15px; font-family:}
#WFItem .wf-label {color:#fff !important;}

.textwidget h3{ font-size:33px; font-weight:normal; text-align:center;color:#003750; line-height:41px; background:url(images/testi-heading2.png) no-repeat;


}
.textwidget h6{ margin-right:15px; color:#fce67f;}

.ttext{margin-top:50px; margin-left:30px; color:#fff;}
.f15{color:#fff; font-size:15px;}
.fright{float:right;}

.footer{width:1100px; border:0px solid #000; margin:auto;}
.clear{clear:both;}
@media only screen and (min-width : 320px) and (max-width: 480px) {
.ctop{margin-top:0px; display:none;}
.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -21px;}
.main{ background:url(images/newbg.png) repeat-x center top; width:100%; min-height:0px; margin:0px; padding:0px;
background-size:174%;}
#right{float:left;width:100%;}
.htop{ margin-left:20%;}
 .main{ width:100%;}
.header{ width:100%; background-size: 134%; min-height:190px; max-width:100%;}
.hright{ width:100%; margin-top:0%; margin-right:0px;}
.contents{ width:100%; margin-top:0%; background-image:none;}
.copyright{ width:100%;text-align: center; padding-top:5px; margin-left:0px;}
.testimonials{ width:90%; margin-top:0px; margin-left:10px; }
.cleft{ margin-top:0px; width:90%; margin:25px 20px;  background:none;}
.content-left{float:left;width:98%; padding-left:5px;padding-right:5px;}
.cer1{ width:100%;}
.cer2{ width:100%;}
.services{ width:100%; margin-left:8%;}
.text{ width:94%; float:none;padding-left:10px;}
h3{font-size:33px !important;}
.logo{ margin-top:0px; width:100%;text-align:center;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
.ttext{margin-left:10px;}
.footer{width:100%;}

}


@media only screen and (min-width : 480px) and (max-width:760px){

.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: 0px;}
.htop{ margin-left:2%; margin-top:2%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:68%; margin-top:0%;  float:left; margin-left:75px;
margin-bottom: 10px;}
.contents{ width:100%; margin-top:2%;}
.copyright{ width:100%;}
.testimonials{ width:78%; margin-top:0px; margin-left:50px; }
.cleft{ margin-top:20px; width:325px; margin-left:70px;

}
h3{font-size:33px !important;}
.cer1{ width:100%;}
.cer2{ width:100%;}
.services{ width:100%; margin-left:8%;}
.text{ width:94%;}

.logo{ margin-top:15px; width:100%;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
}

@media only screen and (min-width : 768px) and (max-width: 980px) {
.ctop{position:relative; margin-top:-560px;text-align: center; float:left;}
.cleft{ float:left; width:280px; margin-top:-288px; margin-left:24px;}
.content-left{width:100%; padding-left:5px; padding-right:5px; float:right;}
#main-nav a{padding: 17px 10px 0px 10px !important;}
.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -43px;}
.htop{ margin-left:20%; margin-top:40px;}
 .main{ width:100%; background-size:130%;}
.header{ width:100%; background-size: 88%; min-height:589px;}
.hright{ width:98%; margin-top:-450px; margin-right:-5px; 
/*background-size: 86% auto;*/}
.contents{ width:100%; margin-top:0%;}

.testimonials{ width:35%; margin-top:0px; margin-left:4px; }
.cleft{ float:right; margin-top:-435px;}
.cleft1{margin-top:-180px;}
.content-left{width:55%; padding-left:11px; padding-right:9px; margin-top:-220px;float:left;}
.footer{width:100%;}
#right{ float:right;}
.ttext{margin-top:23px; margin-left:15px;}
.cer{ color:#ff9d00; font-size:32px; line-height:47px; font-family:"opensansr";}
.cer1{ color:#ffb900; font-size:32px;  line-height:47px; font-family:"opensansr"; }
.cleft .textwidget p { margin-bottom:0px;}
.cer2 { font-size:24px;}
.logo{ margin-top:15px; width:40%; margin-left:5px;}
.services { width:33%; margin-left:3%; float:left;}
.text{ width:55%; float:left; margin-left:6%; margin-top:0px;}
.copyright{ width:52%; margin-top:0%; margin-left:20px;}
}

@media only screen and (min-width : 980px) and (max-width: 1024px){

.header{ width:100%; background-size: 90%; min-height:589px;}
.hright{ margin-top:-130%; margin-right:20px; float:right; 
/*background-size: 86% auto;*/}
.content-left{width:58%; padding-left:11px; padding-right:9px; margin-top:-130px;}
.cleft{ margin-top:20px; width:100%;
margin-right: 10px;
}
.copyright{ width:48%; margin-top:0%; margin-left:20px;}
.logo{ margin-top:15px; width:40%; margin-left:10px;}
}