@charset "utf-8";
/* CSS Document */


@font-face {
    font-family:"opensansr";
    src:url(images/OPENSANS-REGULAR.TTF) format("truetype");
}

.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -5px;}
body{ font-family:"opensansr"; font-size:13px; color:#666666; margin:0px; padding:0px;}
.main{ background:url(images/bg.png) repeat-x center top; width:100%; min-height:649px; margin:0px; padding:0px;}
.header{ max-width:1100px; min-height:649px; margin:auto; background:url(images/ladydel.png) no-repeat;}
.htop{ float:left; margin-top:150px; margin-left:50px;}
.hright{ float:right; min-height:500px; width:308px; border:0px solid #000; margin:30px 0px 0px 0px; background:url(images/submit-form.png); background-repeat:no-repeat;}
.content{ width:1100px; margin:auto; min-height:650px}
.content1{ width:1100px; margin:auto; min-height:550px}
.testimonials{ width:372px; float:left; border:3px solid #FFffff; margin:-100px 0px 0px 0px; min-height:300px; 
background:url(images/testimonial.jpg) no-repeat center top; color:#000;}
.testimonials h3{font-size: 47px; line-height: 47px; font-weight: bold; color:#4c3833; font-family:"Myriad Pro";}
.com{ color:#f9ffff; font-weight:bold; font-size:18px; font-style:italic; font-family:"Myriad Pro";}
.testimonials h6{ color:#4c3833; font-size:18px; font-family:"Myriad Pro";}
.sform{margin-top:250px; margin-left:18px; color:#fff; font-size:15px;}
.cer{ color:#ff9d00; font-size:52px; line-height:47px; font-family:"opensansr";}

.cer1{ color:#ffb900; font-size:52px;  line-height:47px; font-family:"opensansr"; }
.cer2{ color:#fff; font-size:27px; line-height:30px; font-family:"opensansr";}
.textwidget p{ font-size:15px;}
.cleft{ float: right; margin:-106px 0px 0px 0px;  background:url(images/bottom-bg.png) center top; height:382px; width:663px;
 background-repeat:no-repeat;}
.cleft .textwidget p{ color:#fff; font-family:"opensansr";}
.logo{ float:left; width:340px; margin-top:85px; margin-left:80px;}
.services{ float:left; width:350px; margin-top:30px;}

.services ul{ margin:0px; padding:0px; margin-left:8px;}
.services ul li{list-style-type:circle;}
.services ul li a{ list-style-type:circle; color:#333333; font-size:15px; line-height:20px; text-decoration:none;}
.text{ float:right; text-align:justify; width:280px; margin-top:30px;}
.text p{ text-align:justify; color:#333; font-size:15px; line-height:20px;}
.copyright{ color:#b5975b; font-size:14px; width:1000px; margin:auto; text-align:center; margin-top:0px;}
.input{ width:95%; border:1px solid #CCCCCC; border-radius:3px; }
.submit{ margin-top:7px;}
input[type="text"], input[type="password"], input[type="email"], textarea { width:82%;}
.mar{ margin-top:7px;}
.wpcf7 p { font-size:12px !important; font-weight:bold; line-height:18px; text-align:center; margin-right:15px; font-family:}
#WFItem .wf-label {color:#fff !important;}

.textwidget h3{ font-size:45px; font-weight:bold; text-align:right; margin-right:20px; color:#52362a; line-height:46px;}
.textwidget h6{ margin-right:15px; color:#fce67f;}

.ttext{margin-top:50px; margin-left:30px; color:#fff;}
.f15{color:#fff; font-size:15px;}
.fright{float:right;}



@media only screen and (min-width : 320px) and (max-width: 480px) {

.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -21px;}
.htop{ margin-left:20%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:0%; margin-right:-6px;}
.content{ width:100%; margin-top:35%;}
.copyright{ width:100%;}
.testimonials{ width:90%; margin-top:0px; margin-left:10px; }
.cleft{ margin-top:0px; width:90%; margin:0px 20px; min-height:634px; background:none; background-color:#38aa8c;}
.cer1{ width:100%;}
.cer2{ width:100%;}
.services{ width:100%; margin-left:8%;}
.text{ width:94%; float:none;padding-left:10px;}
h3{font-size:33px !important;}
.logo{ margin-top:15px; width:100%;margin-left:58px;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
.ttext{margin-left:10px;}
}


@media only screen and (min-width : 480px) and (max-width:760px){

.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -182px;}
.htop{ margin-left:2%; margin-top:2%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:36%; margin-right:-6px; float:left; margin-left:75px;
margin-bottom: 10px;}
.content{ width:100%; margin-top:0%;}
.copyright{ width:100%;}
.testimonials{ width:78%; margin-top:0px; margin-left:50px; }
.cleft{ margin-top:0px; width:96%; margin:0px 10px; min-height:500px;
/* background:url(images/bottom-bg.png) center top no-repeat; */
background:none; background-color:#38aa8c;}
h3{font-size:45px !important;}
.cer1{ width:100%;}
.cer2{ width:100%;}
.services{ width:100%; margin-left:8%;}
.text{ width:94%;}

.logo{ margin-top:15px; width:100%; margin-left:143px;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
}

@media only screen and (min-width : 768px) and (max-width: 980px) {
#main-nav a{padding: 17px 10px 0px 10px !important;}
.white{color:#fff;font-size: 12px;
line-height: 17px;
text-align: center;
margin-left: -43px;}
.htop{ margin-left:20%; margin-top:40px;}
 .main{ width:100%; min-height:603px;}
.header{ width:100%; background-size: contain; min-height:589px;}
.hright{ width:44%; margin-top:0%; margin-right:-6px; float:right; margin-left:77px;}
.content{ width:100%; margin-top:0%;}
.copyright{ width:100%;}
.testimonials{ width:35%; margin-top:0px; margin-left:4px; }
.cleft{ margin-top:0px; width:61%; margin:0px 10px; min-height:500px;
 background:url(images/bottom-bg.png) center top no-repeat; 
 
/*background:none; background-color:#38aa8c;*/}

.ttext{margin-top:23px; margin-left:15px;}
.cer{ color:#ff9d00; font-size:32px; line-height:47px; font-family:"opensansr";}
.cer1{ color:#ffb900; font-size:32px;  line-height:47px; font-family:"opensansr"; }
.cleft .textwidget p { margin-bottom:0px;}
.cer2 { font-size:24px;}
.logo { margin-left:10px; width:22%; margin-top:15px;}
.services { width:33%; margin-left:3%; float:left;}
.text{ width:55%; float:left; margin-left:6%; margin-top:-65px;}
.copyright{ width:100%; margin-top:20%;}
}
