@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; margin:0px; padding:0px;}
.main{ background:url(images/bg.png) repeat-x center top; width:100%; min-height:649px; margin:0px; padding:0px;}
.header{ max-width:1060px; min-height:649px; margin:auto; background:url(images/lady.png) no-repeat;}
.htop{ float:left; margin-top:40px;}
.hright{ float:right; min-height:500px; width:272px; border:0px solid #000; margin:30px 0px 0px 0px; background:url(images/formbg.png); background-repeat:no-repeat;}
.content{ width:1060px; margin:auto; min-height:270px}
.testimonial{ width:372px; float:left; border:3px solid #FFffff; margin:-100px 0px 0px 0px; min-height:300px; 
background:url(images/testimonial.jpg) no-repeat center top;}
.cleft{ float: right; margin:-100px 0px 0px 0px; }
.logo{ float:left; width:340px; margin-top:150px; margin-left:80px;}
.services{ float:left; width:350px;}

.services ul{ margin:0px; padding:0px; margin-left:8px;}
.services ul li{list-style-type:circle;}
.services ul li a{ list-style-type:circle; color:#333333; font-size:15px; line-height:20px; text-decoration:none;}
.text{ float:right; text-align:justify; width:280px;}
.text p{ text-align:justify; color:#333; font-size:15px; line-height:20px;}
.copyright{ color:#b5975b; font-size:14px; width:1000px; margin:auto; text-align:center; margin-top:80px;}
.input{ width:95%; border:1px solid #CCCCCC; border-radius:3px; }
.submit{ margin-top:7px;}
input[type="text"], input[type="password"], input[type="email"], textarea { width:95%;}
.mar{ margin-top:7px;}

@media only screen and (max-width : 320px) {

.htop{ margin-left:20%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:27%; margin-right:-20px;}
.content{ width:100%; margin-top:35%;}
.copyright{ width:100%;}
.testimonial{ width:90%; margin-top:0px; }
.cleft{ margin-top:40px; width:100%;}
.services{ width:100%; margin-left:20%;}
.text{ width:100%;}
.logo{ margin-top:15px; width:100%;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
}
/*
@media only screen and (min-device-width : 480px) {
.htop{ margin-left:10%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:27%; margin-right:-20px;}
.content{ width:100%; margin-top:35%;}
.copyright{ width:100%;}
.testimonial{ width:77%; margin-top:0px; margin-left:35px; }
.cleft{ margin-top:40px; width:100%;}
.services{ width:100%; margin-left:20%;}
.text{ width:100%;}
.logo{ margin-top:15px; width:100%;}
.input{ width:50%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:50%;}
} 
@media only screen and (max-width: 480px) {
.htop{ margin-left:2%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:27%; margin-right:-20px;}
.content{ width:100%; margin-top:35%;}
.copyright{ width:100%;}
.testimonial{ width:90%; margin-top:0px; }
.cleft{ margin-top:40px; width:100%;}
.services{ width:100%; margin-left:20%;}
.text{ width:93%; margin-left:3%;}
.logo{ margin-top:15px; width:100%;}
.input{ width:50%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:50%;}
} 


@media only screen and (min-device-width : 768px){
.htop{ margin-left:2%;}

.header{ background-size: contain;}
.content{ width:100%; margin-top:168px;}
.testimonial{ width:37%;}
.cleft{ width:54%;}
.logo{ width:20%; margin-left:15px;}
.services{ width:33%; margin-left:28px;}
.text{ width:36%; margin-right:23px;}
.copyright{ width:100%;}
.input{ width:25%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:25%;}
} 


@media only screen and (max-width:980px) {
.htop{ margin-left:2%;}

.header{ background-size: contain;}
.content{ width:100%; margin-top:168px;}
.testimonial{ width:37%;}
.cleft{ width:54%;}
.logo{ width:20%; margin-left:15px;}
.services{ width:33%; margin-left:28px;}
.text{ width:36%; margin-right:23px;}
.copyright{ width:100%;}
.input{ width:25%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:25%;}
} 

*/