@charset "utf-8";
/* CSS Document */


@font-face {
    font-family:"opensansr";
    src:url(images/OPENSANS-REGULAR.TTF) format("truetype");
}
body{ font-family:"opensansr"; font-size:13px; color:#666666; margin:0px; padding:0px;}
.main{ background:url(images/bg1.png) repeat-x center top; width:100%; min-height:900px; margin:0px; padding:0px;}
.header{ width:100%px; min-height:649px; margin:auto;}
.hleft{ width:300px; float:right; margin-top:200px; height:200px; margin-left:300px; position:absolute;}
.hright{ float:right; min-height:709px; width:844px; border:0px solid #000; margin:00px 0px 0px 0px; 
background:url(images/lady1.png) no-repeat;}
.thnku{ margin-left:-110px;}
.hleft p{     margin-bottom: 15px; margin-top: -75px; font-size: 27px; color: #000; line-height: 27px; margin-left: -28px;}
.contact-info {width:700px; float:left; margin-left:100px; margin-top:-104px; }
.contact-info h4{ color:#000;}	
.center{ text-align:center;}
.consult{ color:#26456d;}
.logo{ height:177px; width:300px; float:right;}
	
@media only screen and (max-width : 320px) {

.htop{ margin-left:20%;}
 .main{ width:100%;}
.header{ width:100%; background-size: contain;}
.hright{ width:100%; margin-top:27%; margin-right:-20px;}
.content{ width:100%; margin-top:35%;}
.copyright{ width:100%;}
.testimonial{ width:90%; margin-top:0px; }
.cleft{ margin-top:40px; width:100%;}
.services{ width:100%; margin-left:20%;}
.text{ width:100%;}
.logo{ margin-top:15px; width:100%;}
.input{ width:70%; border:1px solid #CCCCCC; border-radius:3px; }
input[type="text"], input[type="password"], input[type="email"], textarea { width:70%;}
}

